<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>
        <%=header%> 
    </title>
  </head>
  <%- include('../public/partials/nav.ejs')  %> 
<body class="container">
    <h1>
        
    </h1>
<!-- Background image -->
  <div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
    height: 40vh;
  "
  >
  <h1 class="text-white">NODEJS Handson-4</h1>
  </div>
  <h3 class="d-flex justify-content-center align-items-center text-dark">by Winefredo Sailes</h3>
  <h4 class="d-flex justify-content-center align-items-center text-dark">KODEGO [June 14, 2022]</h4>
  
<!-- Background image -->
  </body>
  <%- include('../public/partials/footer.ejs')  %> 
</html>
